01_mise-en-place-de-2-types-de-web-services-en-nodejs/solutions/soap-server/myservice.wsdl

<definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/" name="Soap web service for IT architecture">
  <!--  definition of datatypes  -->
  <types>
    <schema
      xmlns="http://www.w3.org/2000/10/XMLSchema" >
      <element name="name">
        <complexType>
          <all>
            <element name="value" type="string"/>
          </all>
        </complexType>
      </element>
      <element name="result">
        <complexType>
          <all>
            <element name="value" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  response messages  -->
  <message name="returns_result">
    <part name="result" type="xsd:result"/>
  </message>
  <!--  request messages  -->
  <message name="HelloWorld">
    <part name="name" type="xsd:name"/>
  </message>
  <!--  server's services  -->
  <portType name="SOAP web service">
    <operation name="HelloWorld">
      <input message="tns:HelloWorld"/>
      <output message="tns:returns_result"/>
    </operation>
  </portType>
  <!--  server encoding  -->
  <binding name="SOAP web service_webservices" type="tns:SOAP web service">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="HelloWorld">
      <soap:operation soapAction="urn:xmethods-delayed-quotes#HelloWorld"/>
      <input>
        <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <!--  access to service provider  -->
  <service name="MyService">
    <port name="MyPort" binding="SOAP web service_webservices">
      <soap:address location="http://localhost:8000/wsdl"/>
    </port>
  </service>
</definitions>